html, body, #root {
    margin: 0px;
    height: 100%;
    font-family: 'Koulen', cursive;
}
#root {
    font-size: 80%;
}
h1 {
    text-align: center;
    font-size: 25px;
    padding: 0;
    margin: 0;
}

main {
    background-color: #FFAF52;
    height: calc(100% - 25px);
}

footer {
    background-color: black;
    color:lightgray;
    height: 25px;
    font-size: small;
    text-align: center;
    margin: auto;
}

/* TEXTS */
.center-text {
    text-align: center;
}

.big-text {
    font-size: 25px;
}

/* GRID & FLEX */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 15fr 2fr;
    grid-template-areas: 
        ". title-space help"
        "cpu-space player-space check-space"
        "color-space color-space color-space";
    gap: 2px;
}
.grid-rows {
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    gap: 1px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SPACES */
#help {
    grid-area: help;
    display: grid;
}
#cpu-space {
    grid-area: cpu-space;
    width: 100%;
    margin-left: 2px;
    padding: 2px;
    box-sizing: border-box;
    justify-self: right;
}
#player-space {
    grid-area: player-space;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
}
#check-space {
    grid-area: check-space;
    width: 100%;
    margin-right: 2px;
    padding: 2px;
    box-sizing: border-box;
    justify-self: left;
}
#color-space {
    grid-area: color-space;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    padding: 2px;
    align-items: center;
    min-height: 50px;
}
#title-space {
    grid-area: title-space;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-height: 40px;
    gap: 2px;
    padding: 2px;
    align-items: center;
}

/* ROWS */
.player-rows {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    padding: 2px;
    align-items: center;
}
.cpu-rows {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}

/* BUTTONS & MARKERS */
button {
    border-style: none;
}
button:hover {
    cursor: pointer;
}
.player-buttons {
    background-color: #EF8C18;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    max-height: 50px;
    max-width: 50px;
    margin: auto;
}
.cpu-markers {
    background-color: #EF8C18;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    max-height: 23px;
    max-width: 23px;
    margin: auto;
}
.color-buttons {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    max-height: 45px;
    max-width: 45px;
    margin: auto;
    border-style: solid;
}
.answer-markers {
    background-color: azure;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: auto;
}
.check-button {
    display: block;
    width: 55px;
    height: 55px;
    margin: auto;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
}
.help-button {
    display: block;
    height: 40px;
    width: 40px;
    margin: auto;
    border-radius: 5px;
    font-size: xx-large;
    font-weight: bold;
    color: white;
    background-color: black;
}
.menu-buttons {
    width: 90px;
    height: 45px;
    border-style: solid;
    border-radius: 10px;
    background-color: lightgray;
}

/* SPLASH DIVS */
.splash-div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    color: whitesmoke;
    border-color: rgb(83, 83, 83);
}
#victory-splash {
    height: 200px;
    width: 80%;   
    justify-content: space-around;
}
#help-splash {
    justify-content: center;
    height: 500px;
    width: 80%;
}
#help-splash div {
    padding-top: 10px;
}
#help-splash .helpmenu-markers {
    display: flex;
}

/* ANIMATIONS */
@keyframes clickableButton {
    0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}


@media only screen and (min-width: 450px) {
    #root {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 110%;
        background-color: rgb(61, 61, 61);
    }
    main, footer {
        width: 80%;
        border-style: solid;
        border-width: 0 2px 0 2px;
        border-color: black;
        box-sizing: border-box;
    }
    #victory-splash {
        width: 350px;
    }
    #help-splash {
        width: 500px;
        height: 600px;
    }
    #help-splash div {
        padding: 10px 30px 0px 30px;
    }
    #help-splash .helpmenu-markers {
        max-width: 400px;
    }
}

@media only screen and (min-width: 1000px) {
    main, footer {
        width: 450px;
    }
    .player-buttons, .answer-markers, .color-buttons {
        max-width: 55px;
        max-height: 55px;
    }
    .cpu-markers {
        max-width: 30px;
        max-height: 30px;
    }
}
@media only screen and (max-height: 730px) {
    .player-buttons, .answer-markers {
        max-width: 44px;
        max-height: 44px;
    }
    .check-button {
        width: 45px;
        height: 40px;
    }
    .cpu-markers {
        height: 90%;
        width: 90%;
    }
}
@media only screen and (max-height: 550px) {
    .player-buttons, .answer-markers {
        max-width: 40px;
        max-height: 40px;
    }
}